* {
	 box-sizing: border-box; 
}

.container {
	width: 80%;
	margin: 0 auto;
}

.header h1 {
	text-align: center;
	margin-bottom: 40px;
}

.image {
	display: inline-block;
	position: relative;
	float: left;
}

.column {
	display: inline-block;
	float: left;
	width: 30%;
	position: relative;
	padding: 0 20px;
}

.main_text {
	clear: both;
	padding-top: 60px;
}
#skill_list {
	margin-left: 50px;
}
body {
	background-color: #ffeeea;
	color: #34495e;

}
.skills {
	background-color: #5ad4c2;
	color: #fff;
	padding-top: 2px;
}
/*Typography*/
h1,
h2,
h3 {
	font-family: Futura, Helvetica, Arial, san-serif;
}
.into p {
	font-family: Futura, Helvetica, Arial, san-serif;
}
.intro p {
	font-size: 2em;
	font-weight: 100;
	-webkit-margin-before: 0;
}
.skills h3 {
	text-align: center;
	text-transform: uppercase;
}
