html {

}

.nav {
	
	position: fixed;
	width: 100%;
	padding: 10px 10px 10px;
	z-index: 1;
}
.nav a:hover {
	color: #428bca;
	color: rgb(81, 175, 180);
	text-decoration: none;
}
.nav ul {
	float: right;
}
.nav ul li {
	display: inline;
	float: left;
}
.nav ul li a {
	color: rgb(223, 80, 49);
	text-transform: uppercase;
	letter-spacing: 0.10em;
	text-decoration: none;
	padding: 5px;
	transition: color 600ms;
	-webkit-transition: color 600ms;
	-moz-transition: color 600ms;
	-o-transition: color 600ms;
	font-size: 1.5em;
}
.carousel-caption {
	color: red;
}
.glyphicon-chevron-left {
	color: rgb(223, 80, 49);
}
.glyphicon-chevron-right {
	color: rgb(223, 80, 49);
}
ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;

}
.skills h3{
	text-align: center;
}
.carousel-caption {

	text-align:center;
	text-shadow: 2px 2px 200px rgb(0, 0, 0);
	color: red;
	font: bold;
	font-size: 1.5em;
}