* {
	font-size: 100%;
	box-sizing: border-box;
}
body {
	background-color: #ffeeea;
	color: #34495e
}
.jumbotron {
	background-color: inherit;
	text-align: center;
}
.contact_info {
	background-color: #faf9f5;
	padding: 50px;
	text-align: center;
	border: 2px solid;
	border-radius: 50px;
	margin-bottom: 20px
}
.flag {
	position: absolute;
	botom: 2px;
	right: -5px;
	height: 200px;
	width: 350px;
}
.plane {
	position: absolute;
	botom: 2px;
	left: 5px;

}
.nav {
	background-color: black;
	position: fixed;
	width: 100%;
	padding: 10px 10px 10px;
}
.nav a:hover {
	color: #428bca;
	text-decoration: none;
}
.nav ul {
	float: right;
}
.nav ul li {
	display: inline;
	float: left;
}
.nav ul li a {
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	text-decoration: none;
	padding: 10px;
	transition: color 600ms;
	-webkit-transition: color 600ms;
}
/*Typography*/
p {
	font-family: Georgia,Times,Times New Roman,serif; 
}
h1,
h2,
h3 {
	font-family: Futura, Helvetica, Arial, san-serif;
}