* {
    font-size: 100%;
}
body {
    position: relative;
}
.nav-tabs {
    border-bottom-style: none;
}
.anchor {
    padding-top: 60px;
}
.carousel-caption ul {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}
.carousel-caption ul li {
    margin-left: 0px;
    padding-left: 0px;
}
#home .carousel-caption {
    top: 5%;
    bottom: auto;
}
#home {
    margin-bottom: 10px;
}
/* TODO This "boxed-section seems less semantic but more efficient */
.boxed-section {
    border: 1px solid black;
    border-radius: 50px;
}
/* TODO look into making each section with links a standard height */
#about {
    height: 400px;
    margin-bottom: 10px;
}
#work {
    height: 400px;
    margin-bottom: 50px;
}
#contact {
    background-image: url("../img/IMG_4100.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: rgb(255, 255, 255);
    height: 500px;
}
#contact a {
    color: rgb(255, 255, 255);
}
#contact textarea {
    resize: none;
    color: black;
}
.form-control {
    width: 80%;
}
#faq {
    height: 400px;
    padding-bottom: 400px;
}
.learn-more {
    text-align: left;
    float: left;
    margin: 20px;
}
.modal-button {
    float: right;
    padding: 15px;
}
.modal-body {
    height: 800px;
}
#modalframe {
    padding: 10px;
    width: 100%;
    height: 100%;
}
.service-table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.service-table th, td {
    padding: 10px;
}
.service-feature {
    font-weight: bold;
}
.learn-more-body {
    padding-bottom: 20px;
}
footer {
    background-color: #080808;
    height: 40px;
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.social-media {
    float: right;
    position: absolute;
    right: 1px;
    padding: 10px;
}
.social-media-twitter {
    float: right;
    position: absolute;
    right: 50px;
}
/* Media selectors */
@media (min-height: 600px){
    #Faq {
        padding-bottom: 600px;
    }
}
@media screen and (min-height: 800px){
    #faq {
        padding-bottom: 800px;
    }
}
/* Typography */
* {
    font-family: Garamond, Caslon, Minion, serif;
    font-size: 100%;
}
#contact h1 {
    font-size: 1.75em;
}
#contact h2 {
    font-size: 1.0em;
    display: inline;
}
/*Media selector to fix typography*/
@media screen and (max-width: 565px) {
    * {
        font-size: .90em;
    }
}
