* {
    font-size: 100%;
}
body {
    position: relative;
}
.nav-tabs {
    border-bottom-style: none;
}
/*h1 {*/
    /*z-index: 1;*/
/*}*/
.carousel-caption ul {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}
.carousel-caption ul li {
    margin-left: 0px;
    padding-left: 0px;
}
#Home {
    padding-bottom: 60px;
}
#Home .carousel-caption {
    top: 5%;
    bottom: auto;
}
#About {
    background-color: #23527c;
    height: 400px;
    padding-top: 60px;
    margin-top: 10px;
}
#Work {
    height: 400px;
    padding-top: 60px;
}
#Contact {
    background-image: url("../img/IMG_4100.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: rgb(255, 255, 255);
    padding: 50px;
    padding-top: 60px;
    height: 600px;

}
#Contact a {
    color: rgb(255, 255, 255);
}
#Faq {
    height: 400px;
    padding-top: 60px;
    padding-bottom: 800px;
}

/* Typography */
#Contact {

}
#Contact h1 {
    font-size: 1.75em;
}
#Contact h2 {
    font-size: 1.0em;
    display: inline;
}
